<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div style="width:550px; margin:20px auto; padding: 20px;">
        <h1>Welcome to Recommendation Engine</h1>
        <hr><br>
    </div>
    <div style="width:250px;margin:40px auto; padding: 10px">
        <p style="font: bold 25px arial;">
            <b>New User   </b> <a href="{{url_for('sign_up')}}">Sign Up</a>
        </p>
        <p style="font: bold 25px arial;">
            <b>Old User   </b> <a href="{{url_for('login')}}">Login</a>
        </p>
    </div>
</body>
</html>